body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #ffffff;
}

#left-column{
    width: 60%;
    float: left;
    background-color:  #ff00ff;
}

#right-column img {
    width: 400px;
    margin-left: 0px;
    margin-top: 30px;
}

img#logo {
    position: fixed;
    bottom: 20px;
    right: 10px;
    width: 150px;
}